# postgresql://<username>:<password>@localhost:5432/next15db
POSTGRESQL_ENDPOINT=

# generate a new one by running `openssl rand -base64 32`
SESSION_SECRET=2037745262d46eddec63bd2381d1904359fc6b5736da1dcc50799d721a817a6f

# LaunchDarkly SDK Key
LAUNCHDARKLY_SDK_KEY=

# Sentry. Leave empty to disable
SENTRY_DSN=

# Bundle analyzer
BUNDLE_ANALYZE="true"
